<h3>{{ text.selectLanguage }}</h3>

<div class="lang" (click)="changeLanguage('russian')" [ngClass]="{'active': currentLanguage === 'russian'}">
    <div class="background russian">
    </div>
    <p>Русский</p>
</div>

<div class="lang" (click)="changeLanguage('english')" [ngClass]="{'active': currentLanguage === 'english'}">
    <div class="background english">
    </div>
    <p>English</p>
</div>

<div class="lang" (click)="changeLanguage('french')" [ngClass]="{'active': currentLanguage === 'french'}">
    <div class="background france">
    </div>
    <p>Français</p>
</div>

<div class="lang" (click)="changeLanguage('german')" [ngClass]="{'active': currentLanguage === 'german'}">
    <div class="background germany">
    </div>
    <p>Deutsche</p>
</div>

<div class="lang" (click)="changeLanguage('spanish')" [ngClass]="{'active': currentLanguage === 'spanish'}">
    <div class="background spanish">
    </div>
    <p>Español</p>
</div>

<div class="lang" (click)="changeLanguage('portuguese')" [ngClass]="{'active': currentLanguage === 'portuguese'}">
    <div class="background portuguese">
    </div>
    <p>Português</p>
</div>

<div class="lang" (click)="changeLanguage('italian')" [ngClass]="{'active': currentLanguage === 'italian'}">
    <div class="background italian">
    </div>
    <p>Italiano</p>
</div>
