.lang p {
    text-align: center;
}

.lang {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 120px;
    height: 100px;
    background-color: rgba(80, 138, 156, 0.123);
    border-radius: 8px;
    padding: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.205);
    display: inline-block;
    cursor: pointer;
}

.background {
    margin: auto;
    margin-top: 0.3rem;
}

.active {
  background-color: rgba(80, 80, 156, 0.664);
}
