<h3>Выберите язык</h3>

<div class="lang">
    <div class="background gb">
    </div>
    <p>English</p>
</div>

<div class="lang">
    <div class="background fr">
    </div>
    <p>Français</p>
</div>

<div class="lang">
    <div class="background de">
    </div>
    <p>Deutsche</p>
</div>

<div class="lang">
    <div class="background es">
    </div>
    <p>Español</p>
</div>

<div class="lang">
    <div class="background pt">
    </div>
    <p>Português</p>
</div>

<div class="lang">
    <div class="background it">
    </div>
    <p>Italiano</p>
</div>

<!-- 
<div class="lang">
    <div class="background ae">
    </div>
    <p>عرب</p>
</div>

<div class="lang">
    <div class="background cn">
    </div>
    <p>中國人</p>
</div>

<div class="lang">
    <div class="background kr">
    </div>
    <p>한국어</p>
</div>

<div class="lang">
    <div class="background jp">
    </div>
    <p>日本語</p>
</div>

<div class="lang">
    <div class="background in">
    </div>
    <p>भारतीय</p>
</div> -->