<div class="container ">
    <div class="social-group">
        <a class="soсial btn-social facebooke"></a>
        <div class="soсial btn-social vk"></div>
        <div class="soсial btn-social twitter"></div>
        <div class="soсial btn-social yandex"></div>
        <div class="soсial btn-social ok"></div>
        <div class="soсial btn-social telegram"></div>
        <div class="soсial btn-social pinterest"></div>
        <div class="soсial btn-social google"></div>
        <div class="soсial btn-social instagram"></div>
        <div class="soсial btn-social youtube"></div>
    </div>
    <div class="row">

        <!-- ВХОД -->
        <div class="col-lg-5 form-border-singup enter-center">
            <h5>{{ text.login | titlecase }}</h5>

            <form (ngSubmit)="onSubmitEnter()" [formGroup]="formEnter">

                <!-- электронная почта формы LOGIN-->
                <div class="mb-3">
                    <label for="email" class="form-label">{{ text.emailAddress }}</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        formControlName="email">
                    <div *ngIf="formEnter.get('email')!.invalid && formEnter.get('email')!.touched">
                        <small *ngIf="formEnter.get('email')!.errors!.required">
                            {{ text.requiredField }}
                        </small>
                        <small *ngIf="formEnter.get('email')!.errors!.email">
                            {{ text.inputValidEMail }}
                        </small>
                    </div>
                </div>

                <!-- пароль формы LOGIN-->
                <div class="mb-3">
                    <label for="password" class="form-label">{{ text.password | titlecase }}</label>
                    <div class="showPassword" (click)="showPassword('password', $event)"></div>
                    <input type="password" class="form-control" id="password" formControlName="password">
                    
                    <!-- <pre>
                        {{ formEnter.get('password')!.errors | json }}
                    </pre> -->
                    <div *ngIf="formEnter.get('password').invalid && formEnter.get('password').touched">
                        <small *ngIf="formEnter.get('password').errors.required">
                            {{ text.requiredField }}
                        </small>
                        <small *ngIf="formEnter.get('password').errors.minlength">
                            {{ text.min6char }}
                        </small>
                    </div>
                </div>
                <!-- скрытое поле формы LOGIN-->
                <input type="hidden" formControlName="hidden">

                <button type="submit" class="btn btn-primary" [disabled]="formEnter.invalid">{{ text.login |
                    titlecase}}</button>

            </form>
        </div>

        <!-- РЕГИСТРАЦИЯ -->
        <div class="col-lg-5 form-border-register enter-center">
            <h5>{{ text.register | titlecase }}</h5>

            <form (ngSubmit)="onSubmitRegister()" [formGroup]="formRegister">

                <!-- имя пользователя формы REGISTER-->
                <div class="mb-3">
                    <label for="register-username" class="form-label">{{ text.username | titlecase}}</label>
                    <input type="email" class="form-control" id="register-username" aria-describedby="emailHelp"
                        formControlName="username">
                    <div *ngIf="formRegister.get('username').invalid && formRegister.get('username').touched">
                        <small *ngIf="formRegister.get('username').errors.required">
                            {{ text.requiredField }}
                        </small>
                    </div>
                </div>

                <!-- электронная почта формы REGISTER-->
                <div class="mb-3">
                    <label for="register-email" class="form-label">{{ text.emailAddress }}</label>
                    <input type="email" class="form-control" id="register-email" aria-describedby="emailHelp"
                        formControlName="email">
                    <div *ngIf="formRegister.get('email')!.invalid && formRegister.get('email')!.touched">
                        <small *ngIf="formRegister.get('email').errors.required">
                            {{ text.requiredField }}
                        </small>
                        <small *ngIf="formRegister.get('email').errors.email">
                            {{ text.inputValidEMail }}
                        </small>
                    </div>
                    <div id="emailHelp" class="form-text">{{ text.weNeverShare }}</div>
                </div>

                <!-- пароль формы REGISTER-->
                <div class="mb-3">
                    <label for="registerPassword" class="form-label">{{ text.password | titlecase }}</label>
                    <div class="showPassword" (click)="showPassword('registerPassword', $event)"></div>
                    <input type="password" class="form-control" id="registerPassword" formControlName="password">
                    <div *ngIf="formRegister.get('password').invalid && formRegister.get('password').touched">
                        <small *ngIf="formRegister.get('password').errors.required">
                            {{ text.requiredField }}
                        </small>
                    </div>
                </div>

                <!-- повторение пароля формы REGISTER-->
                <div class="mb-3">
                    <label for="check-register-password" class="form-label">{{ text.repeatPassword | titlecase
                        }}</label>
                        <div class="showPassword" (click)="showPassword('check-register-password', $event)"></div>
                    <input type="password" class="form-control" id="check-register-password"
                        formControlName="repeatPassword">
                    <div
                        *ngIf="formRegister.get('repeatPassword')!.invalid && formRegister.get('repeatPassword')!.touched">
                        <small *ngIf="formRegister.get('repeatPassword').errors.required">
                            {{ text.requiredField }}
                        </small>
                        <small *ngIf="formRegister.get('repeatPassword').errors.passNoMatch">
                            {{ text.passShouldMatch }}
                        </small>
                    </div>
                    <!-- <pre>
                         {{ formRegister.get('repeatPassword').errors | json }}
                     </pre> -->
                </div>
                <!-- скрытое поле формы REGISTER-->
                <input type="hidden" formControlName="hidden">

                <button type="submit" class="btn btn-primary" [disabled]="formRegister.invalid">{{ text.register
                    }}</button>

            </form>
        </div>
    </div>
</div>