.form-border-singup {
  display: inline-block;
  border: 1px solid green;
  padding: 1rem;
  border-radius: 7px;
}

.form-border-register {
  display: inline-block;
  border: 1px solid blue;
  padding: 1rem;
  border-radius: 7px;
}

.enter-center {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

input.ng-invalid.ng-touched {
  box-shadow: 0 0 4px 0 red;
}

input.ng-valid.ng-touched {
  box-shadow: 0 0 4px 0 green;
}

.hidePassword {
  display: inline-block;
  float: right;
  position: relative;
  bottom: -39px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('../../assets/img/enter/hide-password.svg');
}

.showPassword {
  display: inline-block;
  float:right;
  position: relative;
  bottom: -39px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('../../assets/img/enter/show-password.svg');
}


.soсial {
  width: 80px;
  height: 70px;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-position: center;
  background-repeat: no-repeat;
}

.disabled {
  cursor: wait;
}

.social-group {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

.facebooke {
  background-image: url('../../assets/img/social/facebook.svg');
  background-color: #9AABD7;
  background-size: 40%;
}

.vk {
  background-image: url('../../assets/img/social/vk.svg');
  background-color: #2787F5;
  background-size: 70%;
}

.twitter {
  background-image: url('../../assets/img/social/twitter.svg');
  background-color: #1CA1F2;
  background-size: 65%;
}

.yandex {
  background-image: url('../../assets/img/social/yandex.svg');
  background-size: 30%;
  background-color: #fc3e1dde;
}

.ok {
  background-image: url('../../assets/img/social/ok.svg');
  background-size: 40%;
  background-color: #F0993A;
}

.telegram {
  background-image: url('../../assets/img/social/telegram.svg');
  background-size: 60%;
  background-color: #57B5EB;
}

.pinterest {
  background-image: url('../../assets/img/social/pinterest.svg');
  background-size: 45%;
  background-color: #e60023d3;
}

.google {
  background-image: url('../../assets/img/social/google.svg');
  background-size: 80%;
  background-color: #57b5eba4;
}

.instagram {
  background-image: url('../../assets/img/social/instagram.svg'),
  linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background-size: 60%, 100%;
}

.youtube {
  background-image: url('../../assets/img/social/youtube.svg');
  background-size: 70%;
  background-color: #FF0000;
}
