.form-border-singup {
  display: inline-block;
  border: 1px solid green;
  padding: 1rem;
  border-radius: 7px;
}

.form-border-register {
  display: inline-block;
  border: 1px solid blue;
  padding: 1rem;
  border-radius: 7px;
}

.enter-center {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

input.ng-invalid.ng-touched {
  box-shadow: 0 0 4px 0 red;
}

input.ng-valid.ng-touched {
  box-shadow: 0 0 4px 0 green;
}

.hidePassword {
  display: inline-block;
  float: right;
  position: relative;
  bottom: -39px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('../../assets/img/enter/hide-password.svg');
}

.showPassword {
  display: inline-block;
  float:right;
  position: relative;
  bottom: -39px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('../../assets/img/enter/show-password.svg');
}


.soсial {
  width: 80px;
  height: 70px;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-position: center;
  background-repeat: no-repeat;
}

.disabled {
  cursor: wait;
}

.social-group {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

.flag-mini {
  display: inline-block;
  float: right;
  position: relative;
  bottom: -40px;
  left: -40px;
  width: 40px;
  height: 40px;
}

.inline-block {
  display: inline-block;
}