.bageContainer {
  margin-right: 0.3rem;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.bageContainer:hover {
    
}

.multyLang {
  background: url('../assets/img/enter/translate.svg');
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.flex {
  display: flex;
  align-items: center;
}


.login {
  background: url('../assets/img/enter/login.svg');
  width: 100%;
  height: 100%;
  background-size: 100% 100%;

}
