/* You can add global styles to this file, and also import other style files */

/* russia */
.russian {
  background: url('./assets/img/flags/russia.svg');
  width: 90%;
  height: 60%;
  background-size: 83%;
  background-repeat: no-repeat;
  background-position: center;
  color: #0000ff;
}

/* united_kingdom */
.english {
  background: url('./assets/img/flags/english.svg');
  width: 90%;
  height: 60%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* france */
.france {
  background: url('./assets/img/flags/france.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 60%;
}

/* germany */
.germany {
  background: url('./assets/img/flags/germany.svg');
  width: 100%;
  height: 60%;
  background-size: 100% 100%;
}

/* spain */
.spanish {
  background: url('./assets/img/flags/spanish.svg');
  width: 100%;
  height: 60%;
  background-size: 100% 100%;
}

/* portugal */
.portuguese {
  background: url('./assets/img/flags/portuguese.svg');
  width: 100%;
  height: 60%;
  background-size: 100% 100%;
}

/* italy */
.italian {
  background: url('./assets/img/flags/italian.svg');
  width: 100%;
  height: 60%;
  background-size: 100% 100%;
}
